.border{
    -fx-border-style: solid;
    -fx-border-color: #AB41D9;
    -fx-border-radius: 25px;
    -fx-border-width: 3px;
}
.text{
    -fx-text-fill: #07b0f2;
    -fx-prompt-text-fill: #07b0f2;
}
.errorText{
    -fx-text-fill: #ff0022;
    -fx-prompt-text-fill: #ff0022;
    -fx-font-family: 'ABeeZee';
}
.bigText{
    -fx-text-fill: #AB41D9;
}
.background{
    -fx-background-color: #040625;
}
.fieldBackground{
    -fx-background-color: #070b42;
}
.mouse-moved:hover{
    -fx-background-color: #0c1159;
}
.text-mouse-moved:hover{
    -fx-text-fill: #81e2f7;
    -fx-prompt-text-fill: #81e2f7;
}
.bigText-mouse-moved:hover{
    -fx-text-fill: #c95ef7;
}
.selection:focused{
    -fx-background-color: #0c1159;
}
.tab .tab-label{
    -fx-background-color: #070b42;
}
.tab{
    -fx-background-color: #070b42;
}
.tab:selected{
    -fx-background-color: #0c1159;
}
.scroll-pane .scroll-bar:vertical{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}
.scroll-pane .scroll-bar:vertical .track{
    -fx-background-color: #AB41D9;
    -fx-border-color: transparent;
}
.scroll-pane .scroll-bar:horizontal{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}
.scroll-pane .scroll-bar:horizontal .track{
    -fx-background-color: #AB41D9;
    -fx-border-color: transparent;
}
.check-box .box{
    -fx-background-color: #AB41D9;
}
.check-box:focused{
    -fx-background-color: #c95ef7;
}
.slider .track{
    -fx-background-color: #07b0f2;
}
.choice-box .label{
    -fx-text-fill: #07b0f2;
}
.progress-bar{
    -fx-background-color: #070b42;
}
.progress-bar .bar{
    -fx-background-color: #07b0f2;
}
.text-area .content{
    -fx-background-color: #070b42;
    -fx-text-fill: #07b0f2;
}